<a href="https://colab.research.google.com/github/chtourouahm/loan_status_prediction_ml/blob/main/loan_statu_prediction_ml_p5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns 
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
from sklearn.impute import SimpleImputer

loading the data with pandas

In [ ]:
data_load=pd.read_csv('/content/train_u6lujuX_CVtuZ9i (1).csv')

In [ ]:
data_load.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [ ]:
data_load.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [ ]:
data_load.shape

(614, 13)

counting the null cases

In [ ]:
data_load.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

remplir les cases vides par imputer

In [ ]:
imputer=SimpleImputer(missing_values=np.nan,strategy='most_frequent')
data_load_imputer=imputer.fit_transform(data_load)

the output is array

In [ ]:
data_load_imputer

array([['LP001002', 0.0, 1.0, ..., 1.0, 2, 'Y'],
       ['LP001003', 0.0, 0.0, ..., 1.0, 0, 'N'],
       ['LP001005', 0.0, 0.0, ..., 1.0, 2, 'Y'],
       ...,
       ['LP002983', 0.0, 0.0, ..., 1.0, 2, 'Y'],
       ['LP002984', 0.0, 0.0, ..., 1.0, 2, 'Y'],
       ['LP002990', 1.0, 1.0, ..., 0.0, 1, 'N']], dtype=object)

In [ ]:
# Loading the dataset to a Pandas DataFrame
data_load_dataframe = pd.DataFrame(data=data_load_imputer, columns = ['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'])

In [ ]:
data_load_dataframe.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,0.0,1.0,0,0,1.0,5849,0.0,120.0,360.0,1.0,2,Y
1,LP001003,0.0,0.0,1,0,1.0,4583,1508.0,128.0,360.0,1.0,0,N
2,LP001005,0.0,0.0,0,0,0.0,3000,0.0,66.0,360.0,1.0,2,Y
3,LP001006,0.0,0.0,0,Not Graduate,1.0,2583,2358.0,120.0,360.0,1.0,2,Y
4,LP001008,0.0,1.0,0,0,1.0,6000,0.0,141.0,360.0,1.0,2,Y

preproceccing

In [ ]:
data_load_dataframe=data_load_dataframe.drop('Loan_ID',axis=1)

In [ ]:
data_load_dataframe=data_load_dataframe.replace(to_replace='3+',value=4)
data_load_dataframe=data_load_dataframe.replace(to_replace='Not Graduate',value=40)
data_load_dataframe['Gender']=data_load_dataframe['Gender'].replace(['Male','Female'],[0,1])
data_load_dataframe['Married']=data_load_dataframe['Married'].replace(['Yes','No'],[0,1])
data_load_dataframe['Education']=data_load_dataframe['Education'].replace(['Graduate','Not Graduate	'],[0,1])
data_load_dataframe['Self_Employed']=data_load_dataframe['Self_Employed'].replace(['Yes','No'],[0,1])
data_load_dataframe['Property_Area']=data_load_dataframe['Property_Area'].replace(['Rural','Semiurban','Urban'],[0,1,2])

data_load_dataframe.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0.0,1.0,0,0,1.0,5849,0.0,120.0,360.0,1.0,2,Y
1,0.0,0.0,1,0,1.0,4583,1508.0,128.0,360.0,1.0,0,N
2,0.0,0.0,0,0,0.0,3000,0.0,66.0,360.0,1.0,2,Y
3,0.0,0.0,0,40,1.0,2583,2358.0,120.0,360.0,1.0,2,Y
4,0.0,1.0,0,0,1.0,6000,0.0,141.0,360.0,1.0,2,Y

In [ ]:
data_load_dataframe=data_load_dataframe.drop('Property_Area',axis=1)
data_load_dataframe.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status
0,0.0,1.0,0,0,1.0,5849,0.0,120.0,360.0,1.0,Y
1,0.0,0.0,1,0,1.0,4583,1508.0,128.0,360.0,1.0,N
2,0.0,0.0,0,0,0.0,3000,0.0,66.0,360.0,1.0,Y
3,0.0,0.0,0,40,1.0,2583,2358.0,120.0,360.0,1.0,Y
4,0.0,1.0,0,0,1.0,6000,0.0,141.0,360.0,1.0,Y

In [ ]:
data_load_dataframe.describe()

,Gender,Married,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000
mean,0.182410,0.346906,8.729642,0.866450,5403.459283,1621.245798,145.465798,342.410423,0.855049
std,0.386497,0.476373,16.535548,0.340446,6109.041673,2926.248369,84.180967,64.428629,0.352339
min,0.000000,0.000000,0.000000,0.000000,150.000000,0.000000,9.000000,12.000000,0.000000
25%,0.000000,0.000000,0.000000,1.000000,2877.500000,0.000000,100.250000,360.000000,1.000000
50%,0.000000,0.000000,0.000000,1.000000,3812.500000,1188.500000,125.000000,360.000000,1.000000
75%,0.000000,1.000000,0.000000,1.000000,5795.000000,2297.250000,164.750000,360.000000,1.000000
max,1.000000,1.000000,40.000000,1.000000,81000.000000,41667.000000,700.000000,480.000000,1.000000

In [ ]:
y=data_load_dataframe['Loan_Status']
y=data_load_dataframe['Loan_Status'].replace(['Y','N'],[0,1])

x=data_load_dataframe.drop(columns='Loan_Status',axis=1)
y.head()

0    0
1    1
2    0
3    0
4    0
Name: Loan_Status, dtype: int64

spliting the data en train and test

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=0)

In [ ]:
y_train.isnull().sum()

0

trainnig the data with support vector machine

In [ ]:
model=SVC(kernel='linear', gamma=1.0)
model.fit(x_train,y_train)

SVC(gamma=1.0, kernel='linear')

the score of trainnig data:prediction

In [ ]:
x_train_prediction =model.predict(x_train)
x_train_accuracy=accuracy_score(x_train_prediction,y_train)
print('accuracy score of prediction is ',x_train_accuracy)

accuracy score of prediction is  0.8105906313645621

the score of testing data

In [ ]:
x_test_prediction =model.predict(x_test)
x_test_accuracy=accuracy_score(x_test_prediction,y_test)
print('accuracy score of prediction is ',x_test_accuracy)

accuracy score of prediction is  0.7479674796747967

accuracy score of prediction==accuracy score of prediction==>no overfitiing no under fittiing

In [ ]:
#input_data=['LP002926','Male','Yes',2,'Graduate','Yes',2726,0,106,360,0,'Semiurban','N']
input_data=[0,0,2,0,0,2726,0,106,360,0]
# changing the input_data to a numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the np array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0]==0):
  print('yes you load ')
else:
  print('no you can''t load ')

[1]
no you cant go to the banc

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  "X does not have valid feature names, but"